<script>
  //empty input value
  document.getElementById("section_title").value = "";
</script>
<div id="edit-section" class="reveal-modal" data-reveal>
    <%= form_for @section, url: course_section_path, method: :patch do |s| %>
      <%= s.text_field :title, placeholder: "Section Name" %>
      <%= s.submit %>
    <%end%>
  <a class="close-reveal-modal">&#215;</a>
</div>
