

<div class="small-9 columns content-column">
  <div class="content">
    <div class="edit-content-title" >
      <a href="#" data-reveal-id="edit-section"><%= @section.title %></a>
    </div>
    <%= render 'edit_section_form' %>

    <div class="row">
      <div class="small-6 small-centered columns">
        <div id="addContent"></div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 small-centered columns">
        <div id="contents"></div> 
      </div>
    </div>

  </div>
</div>


