

<div class="small-9 columns content-column">
  <div class="content">
    <a href="#" data-reveal-id="edit-section"><%= @section.title %></a>

    <%= render 'edit_section_form' %>
    <div id="addContent">
    </div>
    <div id="contents">
    </div> 
  </div>
</div>


