<div id="new-section" >
  <%= form_for :section, url: course_sections_path do |s| %>
    <%= s.text_field :title, placeholder: "Section title" %>
    <%= s.submit "create", class: "button large" %>
  <% end %>
</div>
