<!-- Edit Mode: When clicking on section, you get redirected to section/edit -->
<div class="row content-view">
  <!-- This is the sidebar to add sections -->
  <%= render 'edit_sidebar' %>
  <!-- This renders adding new content page -->
  <%= render 'edit_content' %>
</div>

