    <div id="sections">
    </div>


    <form id="addSection">
        <input id="section_title" type='text' name="section[title]">
    </form>

<%= link_to "Edit", edit_course_section_path(1, 8) %>
