<!-- View Mode: This is the view for showing the sections and contents -->
<div class="row content-view">
  <!-- This displays all sections on the left side (ERB) -->
  <%= render 'show_sidebar' %>
  <!-- This displays all contents on the right side (ERB) -->
  <%= render 'show_content' %>
</div>