<div id="edit-course" class="reveal-modal" data-reveal>
  <%= form_for @course, url: course_path do |c| %>
    <%= c.text_field :title %>
    <%= c.text_area :description %>
    <%= c.submit class: "button large" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>