<div id ="content_div" class="content">
  <div>{{source_url}}</div>
  <div>{{text}}</div>
  <a href="#" id="delete_link" data-id="{{id}}">Delete</a>
  <a href="#" class="edit_link" data-id="{{id}}" data-reveal-id="edit-content">edit</a>
</div>