<div id="content_div" class="content-hbs">
  <div>{{source_url}}</div>
  <div>{{text}}</div>
  <div class="edit-delete-icons">
    <a href="#" id="delete_link" data-id="{{id}}"><i class="fi-x-circle"></i></a>
    <a href="#" class="edit_link" data-id="{{id}}" data-reveal-id="edit-content"><i class="fi-widget"></i></a>
  </div>

</div>