<form id="test"action="{{content_path}}" method="post">
  <input id="content_source_url" name="content[source_url]" placeholder="Resource link" type="text">
  <textarea id="content_text" name="content[text]" placeholder="How did you use this resource?"></textarea>
  <input class="button small" name="commit" type="submit" value="Add">
</form>