.content-column {
  height: 100%;
  padding: 0 20px 0 5px;
}

.content {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;
}

#content_comment {
font-weight: bold;
}

#content_title {
font-weight: bold;
font-size: 130%;
}

#excerpt {
margin-left: 25px;
width: 90%;
color: darkgrey;
}

.content_button {
margin-left: 25px;
}

#content {
margin-left: 25px;
padding: 20px;
width: 90%;
margin-top: 20px;
background: rgb(252, 251, 242);
}

#count_to{
text-align: center;
}

#content_list {
padding-top: 30px;
}

.show-contents {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;

}

.intro-column {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;

}
