///////////////////////////////////
///////////////////Global Variables
///////////////////////////////////
$input-blue: #96AEC0;
$course-title-green-blue: #72D5DD;
$link-blue: #347DAC;
$button-blue: #72D5DD;
$grey-blue: #96AEC0;


///////////////////////////////////
///////////////////////Content show
///////////////////////////////////

.content-column {
  height: 100%;
  padding: 0 20px 0 5px;
}

.content-container {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;
  box-shadow: rgba(0,0,0,.08) 0 1px 5px;
}

.show-contents {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;
  box-shadow: rgba(0,0,0,.08) 0 1px 5px;
}

#content_comment {
  font-weight: bold;
  font-size: 130%;
}

#content_title {
  margin-left: 25px;
  font-weight: bold;
  font-size: 100%;
  display: inline;
  padding-right: 10px;
}

#excerpt {
  margin-left: 25px;
  width: 90%;
  color: $grey-blue;
}

.content_button {
  margin-left: 25px;
}

#content {
  margin-left: 25px;
  padding: 20px;
  width: 90%;
  margin-top: 20px;
  border: 3px solid;
  border-color: rgb(252, 251, 242);
  overflow: auto;

}

#count_to{
  text-align: center;
  padding: 50px;
}

#content_list {
  padding-top: 20px;
}


.intro-column {
  background: white;
  padding: 8px;
  height: 100%;
  overflow: auto;

}

.content-list {
  list-style: none;
}

.author {
  display: inline-block;
  color: $grey-blue;
}

#link {
  display: inline-block;
  color: $grey-blue;
}

#link a{
  color: $grey-blue;
  font-style:italic;
}

.count {
  display: inline-block;
  color: $grey-blue;
}

.dot  {
  padding: 0 10px 0 10px;
}

footer  {
  border-bottom: dashed;
  border-width: 1.5px;
  border-color: $grey-blue;
  margin-bottom: 50px;
  padding-bottom: 15px;

}

.content_button {
  background-color: $button-blue;
  padding: 5px 32px; 
}

///////////////////////////////////
///////////////////////Content edit
///////////////////////////////////

.content-hbs {
  text-align: center;
}

.edit-content-title {
  padding: 20px;
  text-align: center;
  font-size: 1.6875rem;
  color: $link-blue
}

#addContent input[type="text"]  {
  border-right: 1px;
  border-top: 1px;
  border-left: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}

#addContent textarea  {
  border-right: 1px;
  border-top: 1px;
  border-left: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}

#addContent textarea:focus  {
  background-color: white;
}

#addContent input[type="text"]:focus  {
  background-color: white;
}

#test > input.button.small  {
  background-color: $link-blue;
}

#content_div {
  text-align: left;

}

#content_div > div:nth-child(1) {
  padding: 0 0 25px 0;
}

#contents > div > div:nth-child(2) {
  font-weight: 500;
  margin-top: -20px;
}

#content_div a {
  text-align: center;
}


#contents .fi-widget {
  font-size: 30px;
  color: $link-blue;
  padding: 0 5px 0 5px;
}

#contents .fi-x-circle {
  font-size: 30px;
  color: #C1877D;
  padding: 0 5px 0 5px;
}

.edit-content-title .fi-x-circle {
  font-size: 30px;
  color: #C1877D;
  padding: 0px 5px 0 5px;
}


.edit-delete-icons  {
  text-align: right;
}

#content_div > div:nth-child(3) {
  padding: 0 0 12px 0;
  margin-top: -10px;
}

