.max-row-height {
  max-height: 100%;
  position: relative;
}

.row-height {
  height: 100%;
}

.min-row-height {
  min-height: 100%;
}

.show-container {
  background: white;
  box-shadow: rgba(0,0,0,.08) 0 1px 5px;

}

.page-title{
  padding: 40px 0 10px 0 ;
}

.add-course {
  text-align: right;
  padding: 16px 0px 17px 0;
}

.add-course a {
  padding: 20px 20px 20px 10px;
}

a > p {
color: black;
}

.hidden {
  display: none;
}


////// begin browse_all //////

.row_browse {
width: 80%;
margin-left: auto;
margin-right: auto; 
max-width: initial; 
}

.large-8 columns,
.small-9 small-centered columns,
.cat_image, 
#cat_name_to{
text-align: center;
}

#cat_name_to{
margin-top: -10px;
margin-bottom: 25px;
}

.all_cats > div{
margin: 5px 5px 0 5px;
}

.cat_image img {
width:90px;
background: lightgrey;
margin-bottom: 5px;
padding:10px;
}

.cat_image img:hover{
background:lightblue;
}

.cat_name{
display: none;
}

.all_cats {
text-align: center;
display: inline-flex;
margin-left: 10%;
margin-right: 10%;
}

.all_cats_holder {
text-align: center;
}

.tabs-content {
padding-left: 50px;
padding-right: 50px;
}

.tabs-content > .content {
display: none;
float: none;
}

.browse_list {
text-align: initial;
}

/// end browse_all ///

.remove-sideways-scroll {
  width: 100%
}

