.page-title{
  text-align: center;
  padding: 40px 0 10px 0 ;
}

.add-course {
  text-align: right;
  padding: 16px 0px 17px 0;
}

.add-course a {
  padding: 20px 20px 20px 20px;
}

a > p {
color: black;
}

.hidden {
  display: none;
}