#tag_line{
margin-top: 50px;
text-align: center;
}

#index_graphic{
  width:80%; 
  margin-left:auto;
  margin-right:auto;
}

.line {
border: solid 1.5px black;
width: 80%;
margin-left:auto;
margin-right:auto;
}

.box {
display: inline-block;
padding: 30px;
width: 150px;
height: 150px;
margin-left: 40px;
margin-right: 40px;
background: lightgrey;
}

#boxes_holder{
text-align:center;
margin-bottom: 40px;
}

.box_text {
text-align: center;
position:absolute;
margin-top:20px;
opacity: 0;
}

.box:hover .box_text {
opacity: 1;
}

.box:hover img {
opacity:0;
}

.box:hover{
background:lightblue;
}

#featured{
text-align:center;
margin:40px;
}

#add_curriculum{
text-align:center;  
}

#add_c_image{
text-align:center;
}

.cat_list {
margin-left: 1.4rem;
text-align: center;
text-decoration: none;
list-style-type: none;
}

.middle-column {
border-left: 2px solid;
border-right: 2px solid;
}

