<h1 id="tag_line">create beautiful DIY lesson plans<br>
with online resources<br>
</h1>

<div class="toggle_button">(see example)</div>

<div id="index_partial">
<%= render 'index_content' %>
</div>


<div id="boxes_holder">
  <div class="box">
    <% if signed_in? %>
    <a href="/courses"><%= image_tag("file02_128.png")%></a>
    create
    <%else%>
    <a href="/users/sign_in"><%= image_tag("file02_128.png")%></a>
    create
    <%end%>
  </div>
 
    <div class="box">
      <a href="/browse"><%= image_tag("magnifying-glass_128.png")%></a>
      browse
    </div>
</div>

<style>
#boxes_holder > div.partial_button {
display: inline-block;
padding: 30px;
width: 150px;
height: 150px;
margin-left: 40px;
margin-right: 40px;
background: lightgrey;
}

.toggle_button{
text-align: center;
color: rgb(43, 148, 182);
font-size: 120%;
margin-bottom: 50px;
}

.toggle_button:hover{
color: lightblue;
}

#index_partial {
display: none;
width: 80%;
margin-left: auto;
margin-right: auto;
background: white;
padding: 50px;
margin-bottom: 50px;
}

.box {
display: inline-block;
padding: 30px;
width: 150px;
height: 150px;
margin-left: 40px;
margin-right: 40px;
background: lightgrey;
}

#boxes_holder{
text-align:center;
margin-bottom: 40px;
}

.box:hover{
background:lightblue;
}

#tag_line{
text-align: center;
margin-top: 30px;
}

</style>

<script>
$(".toggle_button").click(function(){
  $('#index_partial').toggle('medium');
    if ($(".toggle_button").text() === "(see example)") {
      $(".toggle_button").text("(close example)");
    }
    else 
      $(".toggle_button").text("(see example)");
  }
);
</script>
